name: Docker Build and Push

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout source code
    - name: Checkout repository
      uses: actions/checkout@v4

    # Step 2: Setup Docker Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # Step 3: Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.mswin }}
        password: ${{ secrets.msw@123? }}

    # Step 4: Build Docker image
    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.mswin }}/helloworldapi:latest .

    # Step 5: Push Docker image
    - name: Push Docker image
      run: |
        docker push ${{ secrets.mswin }}/helloworldapi:latest
